
@media (max-width: 1080px) {
    [data-id="main"]{
        width: 100vw;
        margin: 0 auto;
        padding: 5px;
    }
}

@media (max-width: 860px) {
    [data-id="control"]{
        display: block;
    }
}



[data-id="main"]{
    width: 90vw;
    margin: 0 auto;
}
[data-id="control"]{
    background-color: #2c2c2c;
    padding: 5px;
    border-bottom: 2px solid #232323;
}
input[type="number"]{
    width: 100px;
}
[for="control"]{
    width: 86%;
}
[data-id="color"]{
    border: 4px solid #000;
    width: 120px;
    min-height: 36px;
    margin-right: 5px;
}
.ico_file::before{
    content: '✚';
}
.ico_file{
    display: inline-block;
    width: 80px;
    height: 26px;
    border: 4px solid #000;
    background-color: #2F4F4F;
    text-align: center;
}
[data-id="base64"]{
    word-break: break-all;
    margin-top: 20px;
    padding: 10px;
    color: #00FF00;
    font-family: monospace, "DejaVu Sans Mono", "Droid Sans Mono";
}
[data-id="color_rgb"]{
    font-size: 12px;
}
[for="selectable"]{
    font-weight: bold;
    font-size: 140%;
}